<h1>New</h1>

 
<%= cloudinary_js_config %>

<%= form_for :pictures, url: pictures_path do |f| %>

  <%= f.cl_image_upload(:image) %>

  <%= f.submit %>
<% end %>



<%#= cloudinary_js_config %>
<%#= form_to(pictures_path, :method => :upload) do  %>
  <%#= cl_image_upload_tag(:image_id) %>
  <%#= submit_tag 'Submit' %>
<%# end %>

